[submodule "external/rapidcheck"]
	path = external/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
[submodule "external/catch"]
	path = external/catch
	url = https://github.com/philsquared/Catch
