## ---------------------------------------------------------------------
##
## Copyright (C) 2016 by the linalgwrap authors
##
## This file is part of linalgwrap.
##
## linalgwrap is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published
## by the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## linalgwrap is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with linalgwrap. If not, see <http://www.gnu.org/licenses/>.
##
## ---------------------------------------------------------------------

language: cpp
sudo: required
dist: trusty

branches:
  except:
    - dev
    - /^dev-.*$/
    - /^dev_.*$/

env:
  global:
    # Use two cores for the build
    - CORES=2
    #
    # Use a known-to-work rapidcheck seed
    - RC_PARAMS="seed=16920708173099178154 verbose_progress=1 verbose_shrinking=1"
    #
    # Dependencies we need to install
    - DEPEND_PKG="libarmadillo-dev libboost-dev"

matrix:
  include:
    # Clang 3.5 with disabled c++14 support
    - install:
      # Repo for g++-4.9 (to avoid buggy libstdc++)
      - sudo add-apt-repository -y "ppa:ubuntu-toolchain-r/test"
      # Update and install
      - sudo apt-get update
      - sudo apt-get install -y ninja-build g++-4.9 $DEPEND_PKG
      compiler: clang
      env: CC_COMPILER="clang" CXX_COMPILER="clang++" TESTCASE="linalgwrap_tests_RELEASE"
        EXTRA_OPTS="-DDRB_MAXIMUM_CXX_STANDARD=11
    #
    # Clang 3.8 (has c++14)
    - install:
      # Repo for g++-4.9 (has libstdc++ is compatible to c++11, but not c++14)
      - sudo add-apt-repository -y "ppa:ubuntu-toolchain-r/test"
      # Repo for clang-3.8
      - sudo wget -O - http://llvm.org/apt/llvm-snapshot.gpg.key | sudo apt-key add -
      - sudo add-apt-repository -y "deb http://llvm.org/apt/trusty/ llvm-toolchain-trusty-3.8 main"
      # Update and install
      - sudo apt-get update
      - sudo apt-get install -y ninja-build clang-3.8 g++-4.9 $DEPEND_PKG
      compiler: clang
      env: CC_COMPILER="clang-3.8" CXX_COMPILER="clang++-3.8" TESTCASE="linalgwrap_tests_DEBUG"
    #
    # gcc-4.8 (c++11 and without tests, since rapidcheck does not compile like this)
    - install:
      - sudo apt-get install -y ninja-build $DEPEND_PKG
      compiler: gcc
      env: CC_COMPILER="gcc" CXX_COMPILER="g++" EXTRA_OPTS="-DLINALGWRAP_ENABLE_TESTS=OFF"
    #
    # gcc-5 (with tests and c++14)
    - install:
      # Repo for g++-5
      - sudo add-apt-repository -y "ppa:ubuntu-toolchain-r/test"
      # Update and install
      - sudo apt-get update
      - sudo apt-get install -y ninja-build g++-5 $DEPEND_PKG
      compiler: gcc
      env: CC_COMPILER="gcc-5" CXX_COMPILER="g++-5" TESTCASE="linalgwrap_tests_RELEASE"

script:
  - mkdir build && cd build
  - cmake -DCMAKE_CXX_COMPILER=${CXX_COMPILER} -DCMAKE_C_COMPILER=${CC_COMPILER}
           -DCMAKE_BUILD_TYPE=DebugRelease ${EXTRA_OPTS}
           -DAUTOCHECKOUT_MISSING_REPOS=ON
           -DRC_ENABLE_TESTS=OFF
           -DKRIMS_ENABLE_TESTS=OFF -DKRIMS_ENABLE_EXAMPLES=OFF
           -GNinja ..
  - cmake --build  . -- -j ${CORES}
  - if [ "${TESTCASE}" ]; then ctest --output-on-failure -R ${TESTCASE}; else true; fi

